:root{
    --tiffany-blue: #75dddd;
    --munsell-blue: #508991;
    --prussian-blue: #172a3a;
    --midnight-green: #004346;
    --mint: #09bc8a;
    --warm-red: #903629;
    --primary-blue: #096cbd;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}